body 
{
	background: #eee !important;
}

h1
{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

/*button[type="button"]
{
    
    margin: 7ren;
    padding: 200px;
}*/


#content .btn{
    padding: 3rem 0 3rem 0;
    font-family: ;
}

#reg_client
{
    margin: 4rem 4rem 4rem 6rem;
    background: green;
}

#reg_adm
{
    margin: 4rem;
    background: blue;
}

#products
{
    margin: 4rem 4rem 4rem 6rem;
    background: purple;
}

#services
{
    margin: 4rem;
    background: gray;
}

#reg_client img
{
    width: 50%;
    min-width: 20rem; 
    max-width: 20rem;
    height: 20rem;
    margin: 5rem auto
}

#reg_adm img
{
    width: 50%; 
    min-width: 20rem; 
    max-width: 20rem;
    height: 20rem; 
    margin: 5rem auto;
}

#products img
{
    width: 50%; 
    min-width: 20rem; 
    max-width: 20rem;
    height: 20rem; 
    margin: 5rem auto
}

#services img
{
    width: 50%; 
    min-width: 20rem; 
    max-width: 20rem;
    height: 20rem; 
    margin: 5rem auto
}

p
{
    font-size: 2rem;
    color: #eee;
}