
h1
{
	text-align: center;
}

button.action
{
	width: 440px;
	height: 440px;
	border-width: 2px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

button:hover
{
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

button.left
{
	float: left;
	margin: 20px;
}

button.right
{
	float: right;
	margin: 20px;
}

.float_fix
{
	clear: both;
}


/*Botao admin*/
#admin
{
	color: white;
	font-weight: bold;
	background: blue;
}

#admin p
{
	text-align: center;
	line-height: 50px;
}

#admin img
{
	width: 250px;
	height: 200px;
	margin: 50px 100px;
}


/*Botao clientes*/
#clientes
{
	color: white;
	font-weight: bold;
	background: green;
}

#clientes p
{
	text-align: center;
	line-height: 50px;
}

#clientes img
{
	width: 200px;
	height: 200px;
	margin: 50px 100px;
}


/*Botao estoque*/
#estoque
{
	color: white;
	font-weight: bold;
	background: purple;
}

#estoque p
{
	text-align: center;
	line-height: 50px;
}

#estoque img
{
	width: 200px;
	height: 200px;
	margin: 50px 100px;
}


/*Botao servicos*/
#serviços
{
	color: black;
	font-weight: bold;
	background: #aaa;
}

#serviços p
{
	text-align: center;
	line-height: 50px;
}

#serviços img
{
	width: 200px;
	height: 200px;
	margin: 50px 100px;
}