/*
div.site_background
{
	background-color: gray;
	background-size: cover;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.4);
}
*/

body, html
{
	margin: 0;
	padding: 0;
	background-color: #ccc;
}

div.pet_shop_title
{
	position: absolute;
	top: 0;
	/*background-color: #344a5f;*/
	background-color: rgba(52,74,95,0.5);
	width: 100%;
	text-align: center;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.4);
}

h1
{

}

div.roler
{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

div.services
{
	background-color: white;
	border-left: 8px solid #316165;
	border-right: 8px solid #316165;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 86.475px;
}

div.login
{
	text-align: center;
}

button
{
	width: 150px;
	height: 50px;
	border: 2px solid #42dca3;
	background-color: #000;
	color: #42dca3;
	transition: background-color .5s, color .5s;
	transition-timing-function: ease-in-out;
	font-family: 'Cabin', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

button:hover
{
	background-color: #42dca3;
	color: #000;
}