
h1
{
	text-align: center;
}

#productImage{
	float: top-left;
	display:inline-block;

	height: 320px;
	width: 320px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
}
#descricao{
	display:inline-block;
    width:	20%;
}

#quantidade
{
    width: 20px;
     display: inline-block;
}

#vendablock{
	display: inline-block;
	padding: 20px;
}
